! xterm字体
XTerm*faceName:DejaVu Sans Mono:antilias=True

! 中文字体
XTerm*faceNameDoublesize:WenQuanYi Zen Hei Mono:antialias=True

! 字体大小
XTerm*faceSize: 13

! 输入工具
XTerm*inputMethod:fcitx

! 命令记录行数
XTerm*SaveLines: 4096

! color
! XTerm*background: black
! XTerm*foreground: lightyellow

! 打开窗口的大小
XTerm*geometry: 120x35+500+250
XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
XTerm*selectToClipboard: true
xterm*utf8: true
xterm*utf8Title: true
XTerm*locale: zh_CN.UTF-8

! 真彩显示
xterm*termName: xterm-256color

XTerm*cursorColor: *XtDefaultForeground

! 光标闪烁
XTerm*cursorBlink: true

! 配色
xterm*background:   #1a1a1a
xterm*foreground:   #ffffe0
xterm*cursorColor:  #fee110
xterm*color0:       #000000
xterm*color1:       #9e1828
xterm*color2:       #008800
xterm*color3:       #968a38
xterm*color4:       #414171
xterm*color5:       #963c59
xterm*color6:       #418179
xterm*color7:       #bebebe
xterm*color8:       #666666
xterm*color9:       #cf6171
xterm*color10:      #7cbc8c
xterm*color11:      #fff796
xterm*color12:      #4186be
xterm*color13:      #f6e613
xterm*color14:      #71bebe
xterm*color15:      #ffffff
